.dabba {
    width: 60%;
    margin: auto;
    padding-top: 5px;
    /* font-size: 20px; */
}

body{
    color: black;
}
.mapbox
{
    /* height: 400px; */
    /* width: 100%; */
}
@media only screen and (max-width: 700px) {

    .mapbox
    {
        height: 450px;
        width: 100%;
    }


    .dabba {
        width: 100%;
    }

    
}