@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Island+Moments&family=Montserrat:ital,wght@0,100;1,200&family=Open+Sans&family=Poppins:wght@300&display=swap');
body{
    font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Island Moments', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
