/* Header Css */
* {
    padding: 0px;
    margin: 0px;
}
a{
    color: black;
    text-decoration: none;
}
.row {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* for the topbar */
.topbar {


    /* margin: 10px 0px 0px 0px; */
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 0 10px 10px #0000001a;
}


/* for the hamburger and menu */
.ham {
    display: none;
}

.lmobile {

    /* background-color: red; */
    display: none;


}

/* for the X button */
.closebutton {
    float: right;
    padding: 20px;
    font-size: 20px;
}


/* for the logo */
.logo {
    height: 100px;
    
}

/* for the links */

.links {
    display: flex;
    gap: 15px;
}

.links li {

    list-style: none;

}

.top-left {
    padding-left: 20px;
}

.top-right {
    padding-right: 20px;
}

/* for the mobile links */
.mobilelinks {
    list-style: none;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  ul
  {
    color: black;
  }
  #some:hover{
    border: 2px solid solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    color: red;
  }
  #some:hover a{
    /* border: 2px solid solid; */
    /* background-color: black; */
    color: white;
    
  }
/* end */

/* for the Desktop View Image */
/*for the tablet*/


/* #responsive */
@media only screen and (max-width: 600px) {
    .topbar{
        height: 12%;
    }
    .desklink {
        display: none;
    }

    /* making the mobile menu */
    .ham {
        display: block;
    }

    .ham {
        padding-right: 15px;
    }
    .top-left{
        width: 100%;
       display: flex;
       align-items: center;
    }
    .logo{
        margin: auto;
    }
    

    .lmobile {
        position: fixed;
        top: 0px;
        bottom: 0;

        right: 0;
        width: 250px;
        background-color: #e2c7a0;
        /* margin-top: -10px; */
        height: 100vh;
        z-index: 999;

        /* padding: 10px; */
        /* margin-top: -20px; */
        box-shadow: 0 10px 10px #0000001a;
        /* transition: 1.5s; */
        /* float: right;  */

        padding: 0;

    }

    .mobilelinks {
        /* text-align: center; */
        /* padding: 10px; */
        margin-top: 20px;
        padding-left: 20px;

    }

    .mobilelinks li {
        padding-top: 30px;
    }


}